/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background: #ECE5DD;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
}

/* Main Container */
.container {
    width: 100%;
    height: 100vh;   /* fallback */
    height: 100dvh;  /* mobile fix */
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
}

/* Header */
.header {
    background: rgb(52, 52, 52);
    padding: 28px;
    color: white;
    font-size: 32px;
}

/* User Info */
.user {
    display: flex;
    gap: 16px;
    align-items: center;
}
.avatar-over{ display: flex; align-items: flex-end; }
.avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.status {
    width: 14px;
    height: 14px;
    margin-left: -10px;
    border-radius: 50%;
    background: green;
    border: 2px solid #333;
}

.info {
    display: flex;
    flex-direction: column;
}

.info p:last-child {
    font-size: 20px;
    opacity: 0.8;
}

/* Chat Area */
.chat {
    flex: 1;
    padding: 30px;
    overflow-y: auto;

       /* IMPORTANT */

    background: url("Pics/1851.jpg") center/cover no-repeat;
}

.chat :last-child{
display: flex;              /* IMPORTANT */
    flex-direction: column;  
}
/* Message Bubbles */
.message {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 75%;
    padding: 18px 22px;
    margin-bottom: 20px;
    font-size: 28px;
    background: #fff;
    border-radius: 20px 20px 0 20px;
    align-self: flex-end;
    word-wrap: break-word;
}

/* Reply Bubble */
.reply {
    background: #4f4f4f;
    color: white;
    align-self: flex-start;
    border-radius: 20px 20px 20px 0;
}

/* Input Area */
.input-area {
    padding: 20px;
    display: flex;
    gap: 15px;
    background: #f0f0f0;
    align-items: center;
}

/* Input Field */
.input-area input {
    flex: 1;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid #ccc;
    font-size: 22px;
    outline: none;
}

/* Send Button */
.input-area button {
    padding: 18px 28px;
    background: rgb(52, 52, 52);
    border: none;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.input-area button:hover {
    background: #000;
}

/* Scrollbar */
.chat::-webkit-scrollbar {
    width: 8px;
}

.chat::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
}

/* Mobile Optimization */
@media (max-width: 768px) {

    .header {
        font-size: 20px;
        padding: 18px;
    }

    .message {
        font-size: 18px;
        padding: 14px 18px;
    }

    .input-area input {
        font-size: 16px;
        padding: 14px;
    }

    .input-area button {
        font-size: 16px;
        padding: 12px 18px;
    }
}
